.aboutContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:3rem 10px;
    .aboutLeftSection {
        padding-right: 10%;
    }
}
.moreButtonCont {
    text-align: center;
    padding-bottom: 2rem;
}