.aboutPageContainer {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 0;
    .aboutPageImgContainer {
        img {
        width: 450px;
    }
}
}

.extButtonContainer {
    text-align: center;
    padding-bottom: 2rem;
}