.button {
    background-color: #fece1a;
    color: #fff;
    border: none;
    padding: 20px 50px;
    border-radius: 50px;
    transition: all .6s ease-in-out;
    font-size: 20px;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: #fff;
        color: #000;
        padding: 20px 60px;
        cursor: pointer;
    }
} 
.blackButton {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 20px 50px;
    border-radius: 50px;
    transition: all .6s ease-in-out;
    font-size: 20px;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: #fff;
        color: #000;
        cursor: pointer;
        padding: 20px 60px;
    }
}

.none {
    display: none;
}