.skills-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    .skillsContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
        padding: 3rem 0;
    }
}